In [14]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [20]:
train = pd.read_csv('dados/train.csv')
test = pd.read_csv('dados/test.csv')

In [ ]:
train.head()
test.head()
train.info()

In [21]:
#criando o modelo que utilizará random forest que cria 100 modelinhos (arvores) e aplica para tomada de decisão
modelo = RandomForestClassifier(n_estimators=100, n_jobs=-1, random_state=0)

In [22]:
#modelo só trabalha com variáveis numéricas, precisamos transformar VAR. que são nomes em números
#crianças e mulheres possuem uma proporção de salvamento maior (sex; age)
variaveis = ['Sex_binario', 'Age']

def transformar_sexo(valor):
    if valor == 'female':
        return 1
    else: 
        return 0

#map pega a funçao que eu passar e aplica linha a linha na coluna apresentado
train['Sex_binario'] = train['Sex'].map(transformar_sexo)
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binario
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [39]:
variaveis = ['Sex_binario', 'Age']
X = train[variaveis]
y = train['Survived']
#X.head()
#y.head()
X = X.fillna(-1)
#treinar o modelo
modelo.fit(X, y)

RandomForestClassifier(n_jobs=-1, random_state=0)

In [40]:
#transformar as variáveis sex para binários também no test
test['Sex_binario'] = train['Sex'].map(transformar_sexo)
#test.head()
X_prev = test[variaveis]
X_prev = X_prev.fillna(-1)
#prevendo quais sobreviveram e quais não sobreviveram (array) com os dados de train e test
p = modelo.predict(X_prev)
p

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1],
      dtype=int64)

In [45]:
#transformando os arrays para uma série no pandas
pd.Series(p)
#alinhar a ordem de passageiros com as predições
sub = pd.Series(p, index=test['PassengerId'], name = 'Survived')
sub.shape
sub.to_csv("primeiro_modelo.csv", header= True)

sub.head()

PassengerId
892    0
893    1
894    1
895    1
896    0
Name: Survived, dtype: int64